/* #box1{
    background-color: rgb(100, 23, 31);
    background-color: red; */
    /* background-color: #ffa089;
    height: 2000px;
    width: 500px;
    background-image: url("5464369.jpg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: right top;
    font-family:
} */
body{
    font-size: 14px;
}
#conteiner{
    widows: 800px;
    height: 800px;
    border: 3px solid black;
    margin-top: 50px;
    margin-left: 100px;
    position: relative;
}
/* #box1 h2{
    font-family: tahoma,arial, sans-serif;
    color: red;
    font-size: 1.5em;
}
#box1 p{
    color: black;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-decoration-thickness:10%;
    text-transform: capitalize;
    text-indent: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px yellow;
}
#box1 a:link{
    color: red;
}
#box1 a:visited{
    color: orange;
}
#box1 a:hover{
    color: green;
}
#box1 a:active{
    color: blue;
}
#box2 h2{
    color: green;
    font-size: 1.5em;
    font-variant: small-caps;
}
#box2 p{
    color: black;
    font-size: 1em;
} */
#box1{
    width: 300px;
    height: 500px;
    border: dashed;
    border-width: 3px;
    border-color: red;
    background-color: red;
    position: absolute;
    top:10px;
    left: 20px;
    z-index: 5;
    /* border: 10px solid red;
    padding-top: 30px;
    padding-left: 50px;
    font-size: 20px;
     padding: 25px 50px 75px 100px;
    margin-right: 50px;
    float: left; */
}
#box2{
    width: 300px;
    height: 500px;
    border: 3px solid green;
    background-color: yellow;
    position: absolute;
    top: 50px;
    left: 60px;
    z-index: 6;
    /* margin-top: 50px;
    float: left;
    margin-right: 50px; */
}

#box3{
    width: 300px;
    height: 500px;
    border: 3px double blue;
    background-color:green;
    position: absolute;
    top: 100px;
    left:120px;
    z-index: 3;
    /* float: left;
    margin-right: 50px; */
}
#box4{
    width: 300px;
    height: 500px;
    border: 3px solid green;
    margin-top: 50px;
    float: left;
    margin-right: 50px;
}
#box5{
    width: 300px;
    height: 500px;
    border: 3px solid green;
    margin-top: 50px;
    margin-right: 50px;
    background-color: yellow;
    clear: both
}
#box6{
    width: 300px;
    height: 500px;
    border: 3px solid green;
    margin-top: 50px;
    background-color: green;
    margin-right: 50px;
    clear: both;
}
