select MaHD,SoHieu,NgayBD,NgayKT,SoGio from HopDong inner join KhachHang on HopDong.MaKH=KhachHang.MaKH where SoGio between 4 and 7  and year(NgayBD)=2017 and TenKH=N'Trần Văn Hòa' 
select HopDong.MaHD,KhachHang.TenKH,HopDong.SoHieu,DATEDIFF(day,HopDong.NgayBD,HopDong.NgayKT) as SoNgayThue,DATEDIFF(day,HopDong.NgayBD,HopDong.NgayKT)*HopDong.SoGio as SoGioHoatDong,MayBom.DonGiaThue,DATEDIFF(day,HopDong.NgayBD,HopDong.NgayKT)*HopDong.SoGio*MayBom.DonGiaThue as GiaTriHopDong from HopDong inner join KhachHang on HopDong.MaKH=KhachHang.MaKH inner join MayBom on MayBom.SoHieu=HopDong.SoHieu group by HopDong.MaHD,KhachHang.TenKH,HopDong.SoHieu,HopDong.NgayBD,HopDong.NgayKT,HopDong.SoGio,MayBom.DonGiaThue order by GiaTriHopDong desc
select MayBom.SoHieu,MayBom.CongSuat,MayBom.DonGiaThue,sum(DATEDIFF(day,HopDong.NgayBD,HopDong.NgayKT)) as TongSoNgay,sum(DATEDIFF(day,HopDong.NgayBD,HopDong.NgayKT)*HopDong.SoGio) as TongSoGio from MayBom inner join HopDong on MayBom.SoHieu=HopDong.SoHieu group by MayBom.SoHieu,MayBom.CongSuat,MayBom.DonGiaThue
select KhachHang.MaKH,KhachHang.TenKH,KhachHang.DienThoai,SUM(DATEDIFF(DAY,HopDong.NgayBD,HopDong.NgayKT)*HopDong.SoGio*MayBom.DonGiaThue) as TongTien from HopDong inner join KhachHang on HopDong.MaKH=KhachHang.MaKH inner join MayBom on MayBom.SoHieu=HopDong.SoHieu group by KhachHang.MaKH,KhachHang.TenKH,KhachHang.DienThoai
